{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='reg.css')}}">
{% endblock %}

{% block content %}
<div class="loki">
<div class="kcee">
<div class="form-container">
    <h1>Sign Up</h1>
    <form  method="POST"  action="#">
        {{ yam.hidden_tag() }}
        
        {{ yam.name.label(class="kreb") }}
        {% if yam.name.errors %}
        {{ yam.name(class="tax error", placeholder="chibuike ighalo") }}
        <div class="yagt"></div>
        {% for error in yam.name.errors %}
        <h1 class="port">{{ error }}</h1>
        {% endfor %}
        </div>
        {% else %}
        {{ yam.name(class="tax", placeholder="chibuike ighalo") }}
        {% endif %}

        {{ yam.username.label(class="kreb") }}
        {% if yam.username.errors %}
        {{ yam.username(class="tax error", placeholder="ebenzy") }}
        <div class="yagt"></div>
        {% for error in yam.username.errors %}
        <h1 class="port">{{ error }}</h1>
        {% endfor %}
        </div>
        {% else %}
        {{ yam.username(class="tax", placeholder="ebenzy") }}
        {% endif %}


        {{ yam.email.label(class="kreb") }}
        {% if yam.email.errors %}
            {{ yam.email(class="tax error", placeholder="chibuke234@email.com") }}
        <div class="yagt">
        {% for error in yam.email.errors %}
            <h1 class="port">{{ error }}</h1>
        {% endfor %}
        </div>
        {% else %}
            {{ yam.email(class="tax", placeholder="chibuke234@email.com") }}    
        {% endif %}
        

        {{ yam.password.label(class="kreb") }}
        {% if yam.password.errors %}
        {{ yam.password(class="tax error", placeholder="**************") }}
        <div class="yagt"></div>
        {% for error in yam.password.errors %}
        <h1 class="port">{{ error }}</h1>
        {% endfor %}
        </div>
        {% else %}
        {{ yam.password(class="tax", placeholder="************") }}
        {% endif %}


        {{ yam.confirm.label(class="kreb") }}
        {% if yam.confirm.errors %}
        {{ yam.confirm(class="tax error", placeholder="************") }}
        <div class="yagt"></div>
        {% for error in yam.confirm.errors %}
        <h1 class="port">{{ error }}</h1>
        {% endfor %}
        </div>
        {% else %}
        {{ yam.confirm(class="tax", placeholder="**************") }}
        {% endif %}

       

        {{ yam.submit(class="jazz")}}
    </form>
    <p>Already have an account? <a href="{{url_for('log')}}">Log in</a></p>
</div>
</div>
</div>

{% endblock content %}
